<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="edit_user">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="edit_field">
  <div class="field">
    <p>変更項目</p>
    <%= f.label "お名前の変更" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレスの変更" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "パスワードの変更" %><em>（<%= @minimum_password_length %>文字以上）</em> <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />

    <% end %>
  </div>

  <div class="field">
    <%= f.label "パスワード変更時は確認用に再度入力ください" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>
<div class="edit_submit">
  <div class="field">
    <%= f.label "変更を反映するには現在のパスワードを入力ください" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を送信" %>
  </div>
  </div>
<% end %>
<%#<p><%= button_to "アカウントの削除はこちら", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
