<div class="center">
<h1><%= @user.name %>の本棚</h1>

<% if @user == current_user %>
  <%= link_to 'プロフィール変更', edit_user_registration_path %>
<% end %>


<table class="table">
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>読了時間目安</th>
    <th>人気度</th>
  </tr>
<% if @shelves.any? %>
  <% @shelves.each do |shelf|%>
  <tr data-link="<%= book_path((Book.find_by(tid: shelf.book_tid,pid:shelf.pid)).id) %>">
    <td><%= (Book.find_by(tid: shelf.book_tid,pid:shelf.pid)).title %></td>
    <td><%= (Book.find_by(tid: shelf.book_tid,pid:shelf.pid)).author %></td>

    <td><%=raw readtime?(Book.find_by(tid: shelf.book_tid,pid:shelf.pid)) %></td>
    <td><%=raw rating?(Book.find_by(tid: shelf.book_tid,pid:shelf.pid)) %></td>
  </tr>
  <% end %>
<% else %>
  <td colspan="4">まだ本が１冊もありません。</td>
<% end %>
</table>

<% if @user.revues.any? %>
  <h3>Revues (<%= @user.revues.count %>)</h3>
    <%= render 'revues/revue' %>
<% end %>
</div>

<script>
$("tr[data-link]").click(function () {
  window.location = $(this).data("link")
})
</script>
