<div class="center">
<h1><%= @user.name %>の本棚</h1>




<table class="table user_table">
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>読了時間目安</th>
    <th>人気度</th>
  </tr>
<% if @shelves.any? %>
  <% @shelves.each do |shelf|%>
  <tr data-link="<%= book_path((Book.find_by(tid: shelf.tid,pid:shelf.pid)).id) %>">
    <td class="title"><%= (Book.find_by(tid: shelf.tid,pid:shelf.pid)).title %></td>
    <td class="author"><%= (Book.find_by(tid: shelf.tid,pid:shelf.pid)).author %></td>

    <td class="time"><%=raw readtime?(Book.find_by(tid: shelf.tid,pid:shelf.pid)) %></td>
    <td class="rate"><%=raw rating?(Book.find_by(tid: shelf.tid,pid:shelf.pid)) %></td>
  </tr>
  <% end %>
<% else %>
  <td colspan="4"><p>まだ本が１冊もありません。</p></td>
<% end %>
</table>

<% if @user.revues.any? %>
  <h3>Revues (<%= @user.revues.count %>件)</h3>
    <%= render 'revues/revue' %>
<% end %>
</div>

<script>
$("tr[data-link]").click(function () {
  window.location = $(this).data("link")
})
</script>
