<%= will_paginate @books, renderer: BootstrapPagination::Rails%>
<table class="table">
  <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>読了時間目安</th>
    <th>人気度</th>
    <th></th>
  </tr>

  <% @books.each do |book|%>

    <tr>
      <td data-link="<%= book_path(book.id) %>"
       class="title"><%= book.title %>
     </td>
      <td data-link="<%= book_path(book.id) %>"
       class="author"><%= book.author %>
     </td>

      <td data-link="<%= book_path(book.id) %>">
        <%=raw readtime?(book) %>
      </td>
      <td data-link="<%= book_path(book.id) %>">
        <%=raw rating?(book) %>
      </td>

      <td id= "adddelete_form_<%=book.id%>">
        <% if user_signed_in? && !current_user.id.nil? %>
          <% if already_shelved?(current_user,book)%>
            <%= button_to '本棚から除く', shelf_path(shelfid?(book.tid,book.pid)),
                                        method: :delete,
                                        class: "btn btn-secondary", remote:true%>
          <% else %>
            <%= button_to '本棚に入れる', shelves_path,
                                        params: { shelf: { user_id: current_user.id,
                                                           tid: book.tid,
                                                           pid: book.pid } },
                                        class: "btn btn-primary", remote:true%>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @books, renderer: BootstrapPagination::Rails%>

<script>
$("td[data-link]").click(function () {
  window.location = $(this).data("link")
})
</script>
