<% if !@revues.nil? %>
  <%= will_paginate @revues %>
  <% @revues.each do |revue|%>
      <ol class="revues">
        <li id="revues-<%= revue.id %>">
          <span class="title"><%= revue.title %></span>
          <p class="content"><%= revue.content %></p>
          <span class="book-title">
            <%= link_to "『#{Book.find(revue.book_id).title}』",
              book_path(revue.book_id) %>
          </span>
          <span class="user">
            <%= link_to revue.user.name, revue.user %>さんの投稿
          </span>
          <span class="timestamp">
            （<%= revue.created_at.year %>年
            <%= revue.created_at.month %>月
            <%= revue.created_at.day %>日）
          </span>
          <span>
            <% if is_current_user?(revue.user) %>
            <%= link_to "delete", revue, method: :delete,
                                             data: { confirm: "You sure?" } %>
        <% end %>
          </span>
        </li>
      </ol>
  <%end%>
  <%= will_paginate @revues %>
<%end%>
