<div class="center">
<h1>青空文庫検索</h1>

<div class="search-container">
  <%= form_with url:search_books_path, method: :get, local: true do |form|%>

    <%= text_field_tag :search, params[:search], class:"form-control" %>

    <span class="">
      <%= form.submit '検索', :name => nil ,class: "submit"%>
    </span>
<div class="radio-container">
    <%= form.radio_button(:time, "2000")%>
    <%= form.label(:time, "〜5分", value: "2000" ,class: "radio")  %>
    <%= form.radio_button(:time, "6000") %>
    <%= form.label(:time, "〜15分", value: "6000" ,class: "radio")  %>
    <%= form.radio_button(:time, "12000") %>
    <%= form.label(:time, "〜30分", value: "12000" ,class: "radio")  %>
    <%= form.radio_button(:time, "24000") %>
    <%= form.label(:time, "〜1時間", value: "24000" ,class: "radio") %>
    <%= form.radio_button(:time, "48000") %>
    <%= form.label(:time, "〜2時間", value: "48000" ,class: "radio") %>
    <%= form.radio_button(:time, "0") %>
    <%= form.label(:time, "指定なし", value: "0" ,class: "radio") %>
</div>

  <% end %>


</div>

<%= render :partial => "shared/allbooks" %>
</div>
