<div class="center">
<h1>検索</h1>

<div class="">
  <%= form_with url:search_books_path, method: :get, local: true do |form|%>
  <div class="">
    <%= text_field_tag :search,"",class:"form-control" %>

    <%= form.radio_button(:time, "2000") %>
    <%= form.label(:time, "5分以下", value: "2000")  %>
    <%= form.radio_button(:time, "6000") %>
    <%= form.label(:time, "15分以下", value: "6000")  %>
    <%= form.radio_button(:time, "12000") %>
    <%= form.label(:time, "30分以下", value: "12000")  %>
    <%= form.radio_button(:time, "24000") %>
    <%= form.label(:time, "1時間以下", value: "24000") %>
    <%= form.radio_button(:time, "48000") %>
    <%= form.label(:time, "2時間以下", value: "48000") %>
    <%= form.radio_button(:time, "0") %>
    <%= form.label(:time, "指定なし", value: "0") %>

    <span class="">
      <%= form.submit 'Search', :name => nil ,class: ""%>
    </span>
  <% end %>

</div>
</div>

<%= will_paginate @books, renderer: BootstrapPagination::Rails%>
<table class="table">
  <tr>
<th>タイトル</th>
<th>著者</th>
<th>読了時間目安</th>
<th>人気度</th>
</tr>

<% @books.each do |book|%>

<tr data-link="<%= book_path(book.id) %>">
    <td><%= book.title %></td>
    <td><%= book.author %></td>

    <td><%=raw readtime?(book) %></td>
    <td><%=raw rating?(book) %></td>
</tr>
<% end %>
</table>
<%= will_paginate @books, renderer: BootstrapPagination::Rails%>
</div>
<script>
  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
