<h1>Listing articles</h1>
<table>
  <tr>
  <th>Title</th>
  <th>author</th>
  <th>出版社</th>
  </tr>

<tr>
  <td><%= @book.title %></td>
  <td><%= @book.author %></td>
  <td><%= @book.publisher %></td>
  <td><%= link_to 'index',books_path %></td>
</tr>
</table>


  <% if current_user != nil && current_user.already_shelved?(@book) %>
    <%= button_to '積読を取り消す', shelf_path,params:{tid: @book.tid}, method: :delete %>
  <% else %>
    <%= button_to '積読する', shelves_path,params:{tid: @book.tid} %>
  <% end %>
