<!DOCTYPE html>
<html>
  <head>
    <title>DeviseQiita</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-default">
      <div class="collapse navbar-collapse">
        <nav>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Top', root_path%></li>
              <li><%= link_to current_user.name, user_path(current_user.id)%></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <p class="notice alert-success"><%= notice %></p>
      <p class="alert alert-dangers"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
